body{
	background-color:#C3D6BD;
}
a{
	color: black;
}

#loginBtn{
	background-color: #5F8151;
	color: white;
	border : 2px solid #5F8151;
}
#failMsg{
	color: #9B3D3D; 
}
#memberUpdateBtn{
	background-color: #5F8151;
	color: white;
	border : 2px solid #5F8151;
}