body{
	background-color:#C3D6BD; 
}
.form-group{
	font-size: 20px;
}
li {
	list-style: none;
	float: left;
	padding: 6px;
}
a{
	color: black;
}
.searchBtn{
	background-color: #5F8151;
	color: white;
	border : 2px solid #5F8151;
}