body{
	background-color:#C3D6BD; 
	font-size : 20px;
}
.form-group{
	font-size: 20px;
}
a{
	color: black;
}
.searchBtn, .commentWriteBtn, .delete_btn, .update_btn, .admin{
	background-color: #5F8151;
	color: white;
	border : 2px solid #5F8151;
}
#afterlogin {
	font-size : 20px;
}
li {
	list-style: left;
	padding: 6px;
}